*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: sans-serif;
    background-color: #ffffff;
  }
  
  header {
    display: flex;
    background-color: #000000;
    padding: 20px;
  }
  .logo1{
    
  }
  .logo2{
   width: 100%;
   background-color: #1dbfdc;
  }
  .logo2 h1{
    color: #8649a3;
  }
  .logo2 h2{
    color: #ffffff;
  }
  
  h1 {
    font-size: 40px;
    color: #ffffff;
  }
  
  img {
    width: 200px;
  }
  
  nav {
    background-color: pink;
   
  }
  nav ul{
    display: flex;
    align-items: end;
    justify-content: center;
   
  }
  
  nav ul li{
    margin-right: 10px;
  }
  nav ul li a{
    color: #000000;
  }
  main {
    padding: 20px;
    
  }
  .sobre{
    background-image: url(Our\ Commitment.png);
   border: 1px solid red;
  }
  footer {
    background-image: url(Contact\ Details.png);
    padding: 20px;
    text-align: center;
    color: #000000;
  }